* {
  margin: 0;
  padding: 0;
  /* background-color: #333647; */
  font-family: "poppins";
  color: white;
}
body {
  overflow-x: hidden;
}
h1,
h2 {
  font-family: "raleway";
}
.mt-5 {
  margin-top: 50px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-7 {
  margin-top: 70px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-5 {
  margin-bottom: 50px;
}
.text-white {
  color: white;
}

/* nav-bar */
.nav-item:hover {
  color: #f87c58;
}
.active-tab {
  color: #f87c58;
}
.nav-and-intropage {
  background-color: #333647;
}
.trans-navbar {
  background-color: #333647;
}
.nav-bg {
  background-color: #333647;
}
.logo {
  margin-top: 20px;
  height: 71px;
}
.intro-left {
  margin-top: 15%;
}
.intro-left h3 {
  margin-top: 20%;
  font-size: 22px;
  display: inline-block;
  padding: 10px 10px;
  background-color: #f87c58;
}
.intro-left h1 {
  margin-top: 40px;
}
.intro-left p {
  margin-top: 31px;
}
.btn-default.buttoncv {
  background-color: #f87c58;
  color: white;
  font-size: 16px;
  margin-top: 30px;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
}
.btn-default.btnwork {
  color: white;
  background-color: #333647;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 20px;
  padding: 15px 30px 15px 30px;
}
.btn-default.btnwork:hover {
  background-color: #f87c58;
  color: white;
}
.imglady {
  border-radius: 50%;
  border: 10px solid #333647;
  height: auto;
  width: 100%;
  float: right;
  background-color: #282a3a;
}
.imglady-border {
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  border-style: dashed;
  margin-top: 20%;
  margin-bottom: 20%;
}

/* about me  */
.aboutme {
  background-color: #282a3a;
}
.shutterimg {
  position: relative;
  width: 100%;
  height: 630px;
  margin-top: 20%;
  margin-bottom: 20%;
  filter: grayscale(100%);
}
.years-of-experiance {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  margin-left: -20px;
  border-top: 8px dashed white;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  height: 150px;
  width: 150px;
  background-color: #11121c;
}
.years-of-experiance h2,
.years-of-experiance h4 {
  padding-left: 20px;
}
.skills {
  margin-top: 8%;
}
.skills p {
  margin-top: 50px;
}
.progress.progressbar-small {
  width: 100%;
  height: 10px;
}

/* services */
.services {
  background-color: #333647;
}
.services-text {
  margin-top: 70px;
}
.services h3 {
  text-align: center;
  margin-bottom: 50px;
}
.servicebtns {
  margin-top: 50px;
}
.btn-default.btnforservice-active {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f87c58;
  margin-bottom: 20px;
}
.imgforservice-active {
  padding-top: 18px;
}
.imgforservice {
  padding-top: 18px;
}
.arrow-active {
  float: right;
  font-size: xx-large;
  padding-right: 10px;
  padding-top: 20px;
}
.service-name {
  display: inline;
  margin-left: 20px;
  font-size: 16px;
}
.btn-default.btnforservice {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #11121c;
  margin-bottom: 20px;
}
.arrow-white {
  filter: invert(61%) sepia(59%) saturate(576%) hue-rotate(343deg)
    brightness(97%) contrast(86%);
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}
.btn-default.btnforservice:hover {
  background-color: #f87c58;
}
.btn-default.btnforservice:hover .our-service-img-bg {
  background-color: #ffffff;
}
.btn-default.btnforservice:hover .imgforservice {
  filter: invert(61%) sepia(59%) saturate(576%) hue-rotate(343deg)
    brightness(97%) contrast(86%);
}
.btn-default.btnforservice:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f87c58;
  margin-bottom: 20px;
}
.btn-default.btnforservice:hover .arrow-white {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(313deg)
    brightness(1000%) contrast(107%);
}
.view-all {
  display: block;
  background-color: #f87c58;
  color: white;
  font-size: 16px;
  margin: 0 auto;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.view-all:hover {
  color: black;
  background-color: white;
}
.hire-me {
  margin-top: 0px;
  float: left;
  margin-bottom: 0px;
}

/* more reason to choose me */
.worksummary {
  background-color: #282a3a;
}
.smilinggirl {
  width: 100%;
  border: 10px solid #282a3a;
  border-radius: 41px;
  background-color: #333647;
}
.smilinggirl-border {
  width: 70%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: inline-block;
  border: 3px dashed white;
  border-radius: 41px;
}
.worksummarytext {
  margin-top: 10%;
}
.worksummarytext p {
  margin-top: 5%;
}
.btn-default.summarybtn {
  display: inline-block;
  margin-top: 10px;
  background-color: #11121c;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 125px;
  padding-top: 10px;
  border: 2px solid #707070;
  border-style: dashed;
  border-radius: 10px;
}
.btn-default.summarybtn:hover {
  color: white;
  background-color: #f87c58;
}
.btn-default.btn-active {
  background-color: #f87c58;
  margin-top: 10px;
  color: white;
  display: inline-block;
  width: 100%;
  height: 125px;
  padding-top: 10px;
  border-radius: 10px;
}

/* portfolio */

.portfolio {
  background-color: #333647;
}
.portfolio h3 {
  margin-top: 60px;
}
.portimage {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

/* testimoial */
.testimonial {
  background-color: #282a3a;
}
.testimonialimage {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
}
.imgquote {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);
}

/* blog page */
.blogpage {
  background-color: #333647;
}
.imgblog {
  margin-top: 20%;
}
.blogtext {
  background-color: #11121c;
  border-radius: 4px;
}
.arrow-icon {
  color: #f87c58;
  font-size: xx-large;
}
.arrow-of-blog {
  filter: invert(61%) sepia(59%) saturate(576%) hue-rotate(343deg)
    brightness(97%) contrast(86%);
}

/* contact page */
.contact {
  background-color: #11121c;
}
.phoneimg {
  background-color: #282a3a;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  margin-top: 5px;
}
.contact-form input {
  background-color: #333647;
  border: none;
  width: 100%;
  height: 60px;
}

/* display: inline-block; */
.dropmenu button {
  background-color: #333647;
  border: none;
  height: 60px;
  width: 360px;
  border-radius: 4px;
}
.contact-message {
  margin-top: 20px;
  width: 750px;
  background-color: #282a3a;
}
ul {
  list-style: none;
}
li {
  margin-top: 30px;
}

input,
textarea {
  border-radius: 4px;
  padding-left: 10px;
}
.dropdown-menu li {
  color: black;
  text-align: center;
}
.submit {
  display: block;
  background-color: #f87c58;
  color: white;
  font-size: 16px;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.submit:hover {
  background-color: white;
  color: black;
}
.foot {
  background-color: #11121c;
}
.copyrighttext {
  background-color: #11121c;
  color: #282a3a;
  text-align: center;
  padding-bottom: 10px;
}

.our-service-img-bg {
  display: inline-block;
  background-color: #333647;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 20px;
  text-align: center;
}
.our-service-img-bg-active {
  background-color: white;
}
.btnforservice .service-name,
.btnforservice .arrow-white,
.btnforservice-active .service-name,
.btnforservice-active .arrow-active {
  margin-top: 10px;
}

.btnforservice span,
.btnforservice-active span {
  padding-top: 20px;
}
